<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/app.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <title>Tallas</title>
  </head>
  <body>
    <nav
      class="bg-blue-900 h-12 px-3 flex justify-between items-center fixed w-full"
    >
      <div class="text-white text-2xl uppercase cursor-pointer font-bold">
        Tallas
      </div>
      <div
        class="text-lg text-gray-500 flex justify-evenly w-6/12 font-light items-center"
      >
        <a href="" class="border-b border-indigo-200 text-indigo-200">
          Estandar
        </a>
        <a href="">Raul</a>
      </div>
    </nav>
    <div class="h-12"></div>
    <div class="min-h-screen text-indigo-200 p-3">
      <div class="mt-32">
        Selecciona alguna opcion de arriba para ver las distintas tallas
        disponibles.
      </div>
      <div class="w-full">
        <div
          class="w-full h-10 flex justify-between border-t border-r border-l border-gray-800 items-center"
        >
          <div class="pl-4 uppercase">Tallas &nbsp;&nbsp;&nbsp; =></div>
          <div class="h-10 flex items-center">
            <a
              href=""
              class="border border-gray-800 h-full w-10 flex items-center justify-center font-semibold"
              >S</a
            >
            <a
              href=""
              class="border border-gray-800 h-full w-10 flex items-center justify-center font-semibold bg-green-700"
              >M</a
            >
            <a
              href=""
              class="border border-gray-800 h-full w-10 flex items-center justify-center font-semibold"
              >L</a
            >
            <a
              href=""
              class="border border-gray-800 h-full w-10 flex items-center justify-center font-semibold"
              >XL</a
            >
          </div>
        </div>
        <table class="table-fixed bg-gray-800 rounded w-full">
          <thead>
            <tr>
              <th class="w-1/2 px-4 py-2">Medidas</th>
              <th class="w-1/4 px-4 py-2">cm.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-gray-700 px-4 py-2">Intro to CSS</td>

              <td class="border border-gray-700 px-4 py-2">858</td>
            </tr>
            <tr>
              <td class="border border-gray-700 px-4 py-2">Intro to CSS</td>

              <td class="border border-gray-700 px-4 py-2">858</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
